@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400&display=swap");

body {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #0f3443;
}

/* Efecto glass */
.glass {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Elementos como los circulos y los efectos blur del fondo */

.blur-1,
.blur-2 {
  z-index: -10;
  border-radius: 50%;
  position: absolute;
}

.blur-1 {
  height: 450px;
  width: 450px;
  bottom: 0;
  left: 0;
  filter: blur(70px);
  opacity: 0.2;
  transform: translate(-50%, -50%);
  background-color: #34e89e;
}

.blur-2 {
  height: 750px;
  width: 750px;
  top: 0;
  left: 50%;
  filter: blur(120px);
  opacity: 0.4;
  transform: translate(-50%, -50%);
  background-color: #78ffd6;
}

.ball-1,
.ball-2 {
  z-index: -10;
  position: absolute;
  opacity: 0.7;
}

.ball-1 {
  top: 150px;
  border-radius: 50%;
  min-height: 350px;
  height: 35vw;
  min-width: 350px;
  width: 35vw;
  margin-left: -150px;
  background-image: linear-gradient(to top, #13547a 0%, #80d0c7 100%);
}

.ball-2 {
  position: absolute;
  top: 50%;
  right: 0;
  width: 850px;
  height: 850px;
  background-image: linear-gradient(to top, #135058 0%, #f1f2b5 100%);
  clip-path: circle(calc(50% - 1px) at 65% 50%);
  transform: translateY(-75%);
}

/* Encabezado de la pagina */
.container-header {
  z-index: 10;
  height: 15vh;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.logo-finn {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.ul-nav {
  display: flex;
}

.header-a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  margin-left: 3rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  transition: all 0.5s ease-in;
}

.header-a:hover {
  box-shadow: 7px 5px 10px -14px #ffffff;
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

/* Cuerpo - main */
main {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

/* Card - descripción e imagen */
.container-main-box {
  width: 65%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem;
  display: grid;
  place-items: center;
  gap: 3rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  border-radius: 1.25rem;
}

.main-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.description-paragraph {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.0938rem;
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Seccion mis tecnologias favoritas */
.img-perfil {
  height: 350px;
  border-radius: 1rem;
}
.title-categories {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}
.card {
  letter-spacing: 0.125rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
}
.logo {
  height: 150px;
  margin-block: 16px;
}

/* sección #3 - Actividades Favorias */

.logo-html,
.logo-css,
.logo-js {
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.box-activities {
  width: 65%;
  max-width: 1000px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
textarea {
  height: 100px;
  resize: none;
  max-height: 350px;
}

input,
textarea {
  margin: 1rem 0;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

button {
  margin: 1rem auto;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.bi-file-earmark-plus-fill {
  margin-right: 8px;
}

/* Sección de actividades */
.container-cards-activities {
  width: 65%;
  max-width: 1000px;
  margin: 24px auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.box-card {
  width: calc(50% - 12px);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in;
}
.box-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transform: scale(1.03);
}
.img_card {
  width: 100%;
  border-radius: 8px;
}
.title_card {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 16px 0;
  font-weight: 600;
}
.description_card {
  line-height: 20px;
}
.box-title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bi-trash3-fill {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in;
}

.bi-trash3-fill:hover {
  background-color: #c31432;
}
.bi-trash3-fill:active {
  transform: scale(0.8);
}

/* Footer */
.linkedin,
.github {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
  filter: blur(1px);
}

.linkedin:hover,
.github:hover {
  filter: blur(0);
}
.linkedin:active,
.github:active {
  transform: scale(0.96);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  color: #d5d5d5b6;
  /* background-color: #0b1c22; */
}
.container-footer {
  display: flex;
  gap: 1rem;
}

@media screen and (max-height: 850px) {
  .container-header {
    height: 12vh;
  }
  .container-main-box {
    padding: 1.5rem 3rem;
  }
  .ball-2 {
    clip-path: circle(calc(45% - 1px) at right);
  }
  /* .container-activities {
    min-height: 50vh;
  } */
}

@media screen and (max-width: 1224px) {
  .blur-2 {
    width: 60%;
    height: 60%;
  }
  .container-main-box,
  .box-activities,
  .container-cards-activities {
    width: 90%;
  }
  .ball-2 {
    clip-path: circle(calc(25% - 1px) at right);
  }
}
@media screen and (max-width: 875px) {
  .description-paragraph {
    font-size: 16px;
    line-height: normal;
  }
  .container-main-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
@media screen and (max-width: 510px) {
  .logo {
    height: 100px;
  }
  .img-perfil {
    object-fit: cover;
    width: 65%;
    height: 150px;
    border-radius: 16px;
  }
  .description-paragraph {
    font-size: 16px;
    line-height: normal;
  }
  .container-main-box {
    padding: 16px;
    width: 90%;
    gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  /* Parte de la navegación */
  .container-header {
    height: 15vh;
    flex-direction: column;
    margin-block: 1rem 24px;
    padding: 0;
    gap: 16px;
  }
  .ul-nav {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-a {
    padding: 4px 16px;
    margin: 0;
  }
  .box-card {
    width: 100%;
  }
}
